rc2014sim

.DS_Store
*.swp

ROMs
BASIC/rc2014.rom
basic.32gen.hex
*.ihx
*.map
*.rel
*.lst
*.hex
*.rom

*.o

srcsim/sim0.c
srcsim/sim1.c
srcsim/sim1a.c
srcsim/sim2.c
srcsim/sim3.c
srcsim/sim4.c
srcsim/sim5.c
srcsim/sim6.c
srcsim/sim7.c
srcsim/simfun.c
srcsim/simglb.c
srcsim/simglb.h
srcsim/simint.c

